# ==============================
# Datos e imágenes
# ==============================
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.webp
*.zip
*.rar

# ==============================
# Modelos y pesos
# ==============================
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.onnx

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Variables de entorno
# ==============================
.env

# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db
